


/*==================
    Header Section
====================*/
div.header-section{
  width: 100%;
  height: auto;
  text-align: center;
  background-attachment: fixed;
  position: relative;
  // min-height: 100%;
  
  video{
    display: block;
    width: 100%;
    height: auto;
  }
}
.header-title{
  position: absolute;
  top: 18rem;
  right: 10rem;
  padding: 1.2rem 3rem;
  background:#333;
  color: #fff;
  animation: transitionInX 3s;
}
.header-title2{
  position: absolute;
  top: 9rem;
  left: 4rem;
  padding: 1.2rem 3rem;
  background:$primaryColor;
  color: #fff;
  animation: transitionInX 3s;
}

.header-title3{
  position: absolute;
  top: 5.1rem;
  left: .6rem;
  padding: 1.2rem 3rem;
  background:#333;
  color: #fff;
  animation: transitionInX 2s;
}
.header-title4{
  position: absolute;
  top: 9rem;
  left: 6rem;
  padding: 1.2rem 3rem;
  background:$primaryColor;
  color: #fff;
  animation: transitionInX-2 1s;
}

